* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(62, 158, 255);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  padding: 4px 10px;
  text-decoration: none;
}

#intro{
 background: black url(../Images/UltraBungeeimages/canyon1.jpg) no-repeat center;
 background-size: cover;
 padding-bottom: 400px;
}


main {
  text-align: center;
  padding: 40px 20px;
  background-color: #f2f2f2;
}

main h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.intro-block{
 display: flex;
 justify-content: center;
 background-color: #003b63;
 color:white;
 padding:20px 20px;

}

.info-box{
border: 4px solid #003b63;
padding:30px;
text-align:center;
font-size: 12px;
}

.extra-info{
padding:30px;
text-align:center;
font-size: 15px;
}

.buttons{
display:flex;
justify-content:center;
gap:40px;
}

.button{
border:2px solid #003b63;
padding:10px 40px;
text-decoration:none;
color:#003b63;
font-weight:bold;
}

.button:hover {
  background-color: #003b63;
  color: white;}

  .gallery-box{
padding:30px;
text-align:center;
}

footer{
background:#ed107f;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}