* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  background-color: rgb(62, 158, 255);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  padding: 4px 10px;
  text-decoration: none;
}

.intro-block a{
  display: inline-block;
}

.hero img {
  width: 100%;
  height: 400px;
  display: block;
 overflow:hidden;
 min-width: 400px;
 object-fit: cover;
object-position: center;
}


#intro {
 background: black url(../Images/UltraBungeeimages/ultra-bungee-hero.jpg) no-repeat center;
 background-size: cover;
 padding-bottom: 60px;
 padding-top: 400px;
}


main {
  text-align: center;
  padding: 40px 20px;
  background-color: #f2f2f2;
}

main h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.intro-block{
 background-color: #bcf200;
 color:white;
  padding: 100px 20px;

}

.jump-links {
  display: flex;
  justify-content: space-around;

align-items: center;
  gap: 30px;
}
.button {
  color:#003b63;
  font-size: 19px;
  margin: 30px 5px;
  padding: 15px 15px;
  border: 2px solid #003b63;
  border-radius: 5px; 
  min-width: 100px;
}
.button:hover {
  background-color: #003b63;
  color: white;}

.jump-links a {
  text-decoration: underline;
  color: #003b63;
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
}

footer {
  background-color: #ed107f;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 14px;
}

