* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(62, 158, 255);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  padding: 4px 10px;
  text-decoration: none;
}

footer{
background:#ed107f;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}