* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  background-color: rgb(62, 158, 255);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  padding: 4px 10px;
  text-decoration: none;
}

main{
padding:40px;
}

h1{
font-size:34px;
margin-bottom:10px;
}

.subtitle{
margin-bottom:25px;
font-weight:bold;
}

.gallery-box{
border:4px solid #ffbb00;
padding:30px;
text-align:center;
}

.info-section{
border:4px solid #2ca34a;
padding:30px;
text-align:center;
}

.info-section h2{
margin-bottom:10px;
}

.info-section p{
max-width:650px;
margin:auto;
margin-bottom:25px;
}

.buttons{
display:flex;
justify-content:center;
gap:40px;
}

.button{
border:2px solid #003b63;
padding:10px 40px;
text-decoration:none;
color:#003b63;
font-weight:bold;
}

.button:hover {
  background-color: #003b63;
  color: white;}


footer{
background:#ed107f;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}